.card{
    width:200px;
    height: 200px;
    background:orange;
    margin-left: 5px;
    margin-right: 5px;
}
.card img{
    width: 200px;
    height: 150px;
}
.wrapper{
    display: flex;
    justify-content: center;
}
/* mobile screen */
@media only screen and (min-width:1px) and (max-width:650px){
    .wrapper{
        display: block;
    }
    .card{
        width:100%;
        height: 150px;
        background: greenyellow;
        margin-bottom: 6px;
        margin-left: 0;
        display:flex;
        justify-content: flex-end;
    }
}